*{margin: 0; padding: 0;}
        a{text-decoration: none;}
        li{list-style: none;}

        /*헤더*/
        #header{
            width: 1680px; height: 322px; 
            margin: 0 auto;
            background: #ccc;
            position: relative;
            background: url("../img/sub_vis.jpg");
            background-position: bottom;
            overflow: hidden;
        }
        /*헤더네비*/
        #header > #header_nav{
            width: 1200px; height: 90px;
            margin: 0 auto;
        }

        #header > #header_nav > a > img{
            float: left;
            width: 160px; height: 55px;
            margin-right: 50px; margin-left: 20px;
            margin-top: 20px;
        }
        #header > #header_nav > .mid_depth > li{
            float: left;
            width: 150px; height: 50px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            background: none;
            font-weight: bolder;
        }
        #header > #header_nav > .mid_depth > li:hover{
            transition: 0.4s;
        }
        

        /*가운데 메뉴*/
        #header > #header_nav > .mid_depth > li > a, #header > #header_nav > .right_depth > li > a{
            color: black;
            line-height: 50px;
        }
        

        /*오른쪽 메뉴*/
        .right_depth > li{
            float: right;
            text-align: center;
            margin-top: 20px;
            background: #eee;
            width: 50px; height: 50px;
        }
        #header > #header_nav > .right_depth > li:first-child{width: 50px; margin-right: 30px;}
        

        /*2차메뉴*/
        .depth2 > li > a{
            color: black;
            font-size: 14px;
            text-align: center;
        }
        .depth2 > li:first-child{margin-top: 20px;}
        .depth2 > li{
            width: 150px; height: 20px;
            background: #bdbdbd; 
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid white;
        }

        /*배너*/
        #banner{
            margin: 0 auto;
            width: 1680px;
            overflow: hidden;
            margin-bottom: 20px;
        }
        #banner > .bannerIn > .bannerBox{
            position: relative;
            height:672px;
        }
        .ban-pos{
            position: absolute;
            top: 0;
            float: left;
        }
        .fixBox h4{margin-top: 25px;}
        .fixBox{
            position: absolute;
            right: 0;
            top: 45%;
            background: #bdbdbd; color: white;
            line-height: 25px;
            width: 50px; height: 200px;
            text-align: center;
        }
    
        
    /*컨텐츠*/
        /*컨텐츠1*/
        #con{
            width: 1280px; height: 602px;
            margin: 0 auto;
            margin-bottom: 90px;
            outline: 1px solid red;
        }
        #con h1, #con4 h1, #con3 h1{
            text-align: center;
            line-height: 50px;
            padding-top: 30px;
            margin-bottom: 30px;
        }
        .conBox > .conBox2{
            width: 230px; height: 300px;
            margin-right: 10px;
            margin-left: 10px;
            float: left;
            box-sizing: border-box;
        }
        .conBox > .conBox2 h4{text-align: center; margin-top: 20px;}
        .conBox > .conBox2 > .conBox3{
            background: #ccc;
            width: 228px; height: 230px;
            border: 1px solid black;
        }
        .conBox{
            width: 1000px; height: 500px;
            margin: 0 auto;
            margin-top: 70px;
            outline: 1px solid red;
        }
        /*컨텐츠1 끝*/


        /*컨텐츠2*/
        #con2{
            width: 1280px; height: 820px;
            margin: 0 auto; 
            outline: 1px solid red;
            position: relative;
        }
        #con2 h1{
            width: 1280px; height: 100px;
            text-align: center;
            line-height: 50px;
            padding-top: 15px;
            margin-bottom: 30px;
        }
        .conLeft{
            width: 640px; height: 537px;
            background: #f26c4f;
            position: absolute;
            left: 0; top: 145px;
        }
        .conRight{
            width: 732px; height: 530px;
            background: #bd8cbf;
            position: absolute;
            right: 0; bottom: 5%;
        }
        /*컨텐츠2 끝*/


        /*컨텐츠3*/
        #con3{
            width: 1280px; height: 520px;
            margin: 0 auto;
            outline: 1px solid red;
        }
        .news{margin: 0 auto; width: 1060px; height: 236px;}
        #con3 h1{text-align: center;}
        .newsL-up,.newsR-up{border-bottom: 1px solid #bdbdbd;}
        .con3-newsL{
            width: 520px; 
            height: 236px; 
            float: left; 
            margin-right: 20px; 
            box-sizing: border-box;
            background: #4b4b4b;
        }
        .con3-newsR{
            width: 520px; 
            height: 236px; 
            float: left; 
            box-sizing: border-box;
            background: #4b4b4b;
        }
        .newsL-up h4:first-child, .newsR-up h4:first-child{float: left;}
        .newsL-up h4:last-child, .newsR-up h4:last-child{float: right; font-size: 14px;}
        .newsL-up, .newsR-up{
            height: 35px;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-left: 50px;
            margin-right: 50px;
            color: white;
        }
        .newsL-up a, .newsR-up a{
            color: white;
        }
        .newsL-down > .newsL-nL, .newsR-down > .newsR-nR{
            margin-left: 50px;
            margin-right: 50px;
            float: left;
        }
        .newsL-down > .newsL-nL2, .newsR-down > .newsR-nR2{
            margin-left: 50px;
            margin-right: 50px;
            float: right;
        }
        .newsL-down > .newsL-nL2 a,
        .newsR-down > .newsR-nR2 a,
        .newsL-down > .newsL-nL a,
        .newsR-down > .newsR-nR a{
            color: white;
            line-height: 30px;
        }


        
        /*컨텐츠3 끝*/

        /*컨텐츠4*/
        #con4{
            width: 1280px; height: 477px;
            margin: 0 auto;
            outline: 1px solid red;
        }
        .conBox-2 h4{text-align: center; margin-top: 5px;}
        .conBox-1{
            width: 1000px; height: 400px;
            margin: 0 auto;
            outline: 1px solid red;
        }
        .conBox-2{
            width: 100px; height: 130px;
            float: left;
            margin-left: 85px;
        }
        .conBox-3{
            width: 100px; height: 100px;
            border: 1px solid black;
            box-sizing: border-box;
        }
        /*컨텐츠4 끝*/

        /*푸터*/
        #footer{
            width: 100%; height: 300px;
            background: black;
        }
        #footer > .footer-up{
            width: 1280px;
            margin: 0 auto;
            border-bottom: 1px solid #bdbdbd;
        }
        #footer > .footer-up > img{
            width: 160px; height: 55px;
            margin-top: 50px;
            padding-bottom: 10px;
        }

        #footer > .footer-up > .footer-text{
            background: #5d5d5d;
            width: 280px;
            float: right;
            padding: 10px;
            margin-top: 70px;
        }
        #footer > .footer-up > .footer-text > li{
            color: #ccc;
            float: left;
            margin-left: 10px;
            width: 130px;
        }
        #footer > .footer-up > .footer-text > li > span{
            margin-right: 10px;
        }

        #footer > .footer-down{
            margin: 0 auto;
            width: 1280px;
        }
        #footer > .footer-down > .p1 > p{
            color: #ccc;
            text-align: center;
            margin-top: 30px;
            font-size: 18px;
        }

        #footer > .footer-down > .p2 > p{
            color: #ccc;
            text-align: center;
            margin-top: 30px;
            font-size: 12px;
        }
